PORT=8004
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/
BOOKING_SERVICE_URL=http://${BOOKING_SERVICE_HOST}:${BOOKING_SERVICE_PORT}
TICKET_SERVICE_URL=http://${TICKET_SERVICE_HOST}:${TICKET_SERVICE_PORT}
