PORT=8003
DATABASE_URL=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/
EVENTS_SERVICE_URL=http://${EVENTS_SERVICE_HOST}:${EVENTS_SERVICE_PORT}
